.stat-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  margin: 10px;
}

.stat-cell-name {
  font-size: 0.7em;
  font-weight: normal;
}

.stat-cell-value {
  font-size: 2em;
  font-weight: bold;
}