@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;600;700;900&display=swap');

:root {
  --text: #cef1fd;
  /* basically the same, but semitransparent */
  --text-placeholder: #cef1fd99;
  --background: #1c2129;
  --primary: #7ae4fe;
  --secondary: #0127aa;
  --accent: #2935fe;

  --footer: #0d1117;

  --sidebar-width: 7em;

  --online: #2eff85;
  --offline: #ff2e2e;
}

body {
  color: var(--text);
  background-color: #1c2129;
  font-family: 'Noto Sans', sans-serif;

  margin: 0;

  height: 100vh;
  width: 100vw;

  /* For firefox */
  scrollbar-color: var(--text) var(--background);
  scrollbar-width:  thin;
}

a {
  color: var(--text);
  font-weight: bold;
  text-decoration: underline;
}

#app {
  display: flex;
  flex-direction: row;

  height: 100%;
  width: 100%;

  overflow: hidden;
}

#content {
  margin-left: 12px;
  width: 100%;
}

h1 {
  font-weight: 900;
}

input[type="text"],
input[type="textarea"],
input[type="number"] {
  border: none;
  border-bottom: 1px solid var(--text);

  padding: 6px;
  margin: 6px 0 6px 0;

  font-size: 16px;

  background: none;
}

/* input[type="textarea"] {
  border: 1px solid var(--text);
  border-radius: 6px;
} */

input[type="text"]::placeholder,
input[type="textarea"]::placeholder {
  color: var(--text-placeholder);
}

select {
  border: none;
  border-bottom: 1px solid var(--text);

  padding: 6px;
  margin: 6px 0 6px 0;

  font-size: 16px;

  background: none;
}

option {
  background-color: var(--background);
}

/* Custom scrollbar stuff (all platforms) */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--text);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-placeholder);
}
