@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;600;700;900&display=swap');

:root {
  --text: #cef1fd;
  --background: #1c2129;
  --primary: #7ae4fe;
  --secondary: #0127aa;
  --accent: #2935fe;

  --footer: #0d1117;

  --sidebar-width: 7em;
}

body {
  color: var(--text);
  background-color: #1c2129;
  font-family: 'Noto Sans', sans-serif;

  margin: 0;

  height: 100vh;
  width: calc(100vw - var(--sidebar-width));
}

a {
  color: var(--text);
  font-weight: bold;
  text-decoration: underline;
}

#app {
  display: flex;
  flex-direction: row;

  height: 100%;
  width: 100%;
}

#content {
  margin-left: 12px;
}

h1 {
  font-weight: 900;
}