.deploy input[type="text"],
.deploy input[type="textarea"],
.deploy input[type="number"],
select {
  width: 100%;
}

#content .deploy {
  height: 100vh;
}

.deploy-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  height: 75%;
  width: 100%;
}

.deploy-button-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 10%;
  width: 100%;
}

.deploy-button {
  background: var(--text);
  color: var(--background);

  border: none;
  border-radius: 6px;

  font-size: 2em;
  font-weight: 900;

  margin-top: 10px;
  height: 100%;
  width: 90%;

  cursor: pointer;

  transition: all 0.1s;
}

.deploy-button:hover {
  filter: brightness(0.8);
}

.base-options,
.advanced-options,
.mod-options {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(6em, 1fr));

  height: 100%;
  width: 33%;
  transition: all 0.2s;
  
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable both-edges;
}

.base-options:hover,
.advanced-options:hover,
.mod-options:hover {
  width: 40%;
}

.base-options {
  padding-right: 2em;
  border-right: 1px solid var(--text);
}

.advanced-options {
  padding: 0 2em;
  border-right: 1px solid var(--text);
}

.mod-options {
  padding-left: 2em;
}

.option {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 92%;
}

.option .label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.option.checkbox {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.option .icon {
  width: 1em;
  height: 1em;
  margin-left: 0.7em;

  cursor: pointer;

  transition: all 0.1s;
}

.option .icon:hover {
  filter: brightness(0.7)
}