.deploy input[type="text"],
.deploy input[type="textarea"],
.deploy input[type="number"],
select {
  width: 100%;
}

#content .deploy {
  height: 100vh;
}

.deploy-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
}

.base-options,
.advanced-options,
.mod-options {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(6em, 1fr));

  height: 100%;
  width: 30%;
  transition: all 0.2s;
  overflow-y: auto;
}

.base-options:hover,
.advanced-options:hover,
.mod-options:hover {
  width: 40%;
}

.base-options {
  padding-right: 2em;
  border-right: 1px solid var(--text);
}

.advanced-options {
  padding: 0 2em;
  border-right: 1px solid var(--text);
}

.mod-options {
  padding-left: 2em;
}

.option {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.option.checkbox {
  flex-direction: row-reverse;
  justify-content: flex-end;
} 